#hero-main {
    position: relative;
    background: #00000090;
    margin-bottom: 64px;
}

#hero-main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("pankaj-patel-1073208-unsplash.jpg") center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
}

.title-block {
    margin: 64px;
}

.default-margin {
    margin: 32px;
}

.double-margin {
    margin: 64px;
}

.education-block {
    width: 60%;
}

.message-right {
    border-left: 4px solid black !important;
    border-right: 0;
}

.message-left {
    border-right: 4px solid black !important;
    border-left: 0;
}

.modal-margin {
    padding: 64px;
}

.no-overflow-container {
    overflow: hidden;
}

.mid-hero {
    margin-top: 64px;
    margin-bottom: 64px;
}

.semi-opaque-background:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
}

#MyM {
    padding: 128px 16px;
    position: relative;
    background: #00000060;
}

#MyM:after {
    background: url("MyM.jpg") center center;
    background-size: cover;
}

#Insono {
    padding: 128px 16px;
    position: relative;
    background: #00000050;
}

#Insono:after {
    background: url("insono.png") center center no-repeat;
    background-size: contain;
}

#MusicCast {
    padding: 128px 16px;
    position: relative;
    background: #00000060;
}

#MusicCast:after {
    background: url("musiccast.png") center center no-repeat;
    background-size: contain;
}

#Fluxys {
    padding: 256px 16px;
    position: relative;
    background: #00000060;
}

#Fluxys:after {
    background: url("fluxys.png") center center no-repeat;
    background-size: contain;
}

.vertical-barrier {
    width: 2px;
    height: 100%;
    background: black;
    margin-left: auto;
    margin-right: auto;
}

#DnD {
    position: relative;
    background: #00000060;
}

#DnD:after {
    background: url("dnd.png") center no-repeat;
    background-size: cover;
}

#SideProjects {
    position: relative;
    background: #00000090;
}

#SideProjects:after {
    background: url("chris-ried-512801-unsplash.jpg") center no-repeat;
    background-size: cover;
}

#Gaming {
     position: relative;
     background: #00000080;
 }

#Gaming:after {
    background: url("pillars_of_eternity.jpg") center no-repeat;
    background-size: cover;
}

#Writing {
    position: relative;
    background: #00000080;
}

#Writing:after {
    background: url("aaron-burden-90144-unsplash.jpg") center no-repeat;
    background-size: cover;
}

#HackerNews {
    position: relative;
    background: #00000080;
}

#HackerNews:after {
    background-size: contain;
    background: #f16530 url("ycombinator.jpg") no-repeat center center;
}
